* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    background: white;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

label {
    text-transform: uppercase;
    font-weight: 500;
}

input {
    outline: none;
    font-family: 'Poppins', sans-serif;
    padding: 0.7em 1.5em;
    border-radius: 25px;
    border: none;
    margin-top: .2em;
    margin-bottom: 1.5em;
    background: white;
    box-shadow: inset 6px 1px 10px #cbced1, inset -6px -1px 10px white;
}

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 0.7em;
    color: white;
    font-weight: 500;
    width: 75%;
    border: none;
    background-color: #00acee;
    border-radius: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), -0px -8px 10px white;
}

#login-form {
    position: relative;
    border-radius: 10px;
    height: 550px;
    width: 320px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: 14px 14px 30px rgba(0, 0, 0, 0.3), -14px -14px 30px white;
}

#upper {
    position: relative;
    top: -40px;
}

#name {
    font-size: 2rem;
    letter-spacing: 1/px;
    color: #00acee;
    font-weight: 700;
}

#logo {
    position: relative;
    background: url("https://img.icons8.com/color/96/000000/twitter--v1.png");
    height: 120px;
    width: 120px;
    background-position: center;
    border-radius: 50%;
    box-shadow: 1px 4px 10px 5px #cbced1, -7px -7px 10px 2px white;
    background-repeat: no-repeat;
    margin-bottom: 1em;
}